<%- include('../partials/head') %>
<body>
  <%- include('../partials/navbar') %>
  <h1>Edit Vendor</h1>
  <form action="/vendors/edit/<%= vendor.VendorID %>" method="POST">
    <div class="form-group">
      <label for="Vendor_Name">Name:</label>
      <input type="text" name="Vendor_Name" class="form-control" value="<%= vendor.Vendor_Name %>" required />
    </div>
    <div class="form-group">
      <label for="Contact">Contact Info:</label>
      <input type="text" name="Contact" class="form-control" value="<%= vendor.Contact %>" required />
    </div>
    <div class="form-group">
      <label for="ServiceType">Service Type:</label>
      <input type="text" name="ServiceType" class="form-control" value="<%= vendor.ServiceType %>" required />
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</body>
